name: Build and Test
on:
  pull_request:
    branches:
      - '**'
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:

jobs:
  static-code-analysis:
    runs-on: ubuntu-latest
    name: Pylint Static Code Analysis
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Analyze code with Pylint
        id: analyze-code
        run: |
          pylint_score=$(pylint living_doc_augmentor | grep 'rated at' | awk '{print $7}' | cut -d'/' -f1)
          echo "PYLINT_SCORE=$pylint_score" >> $GITHUB_ENV

      - name: Check Pylint score
        run: |
          if (( $(echo "$PYLINT_SCORE < 9.0" | bc -l) )); then
            echo "Failure: Pylint score is below 9.0 (project score: $PYLINT_SCORE)."
            exit 1
          else
            echo "Success: Pylint score is above 9.0 (project score: $PYLINT_SCORE)."
          fi

  ruff-check:
    runs-on: ubuntu-latest
    name: Ruff Lint Check
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Check code with Ruff
        run: |
          ruff check .

  code-format-check:
    runs-on: ubuntu-latest
    name: Black Format Check
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Check code format with Black
        id: check-format
        run: |
          black --check .

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Check code coverage with Pytest
        run: pytest --cov=living_doc_augmentor -v tests/ --cov-fail-under=95

  mypy-check:
    runs-on: ubuntu-latest
    name: Mypy Type Check
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Check types with Mypy
        id: check-types
        run: |
          mypy living_doc_augmentor

  complexity-check:
    runs-on: ubuntu-latest
    name: Radon Complexity Check
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Check cyclomatic complexity
        run: |
          radon cc living_doc_augmentor -a -nb
